@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

* {
  font-family: 'Marcellus SC', serif;
  font-size: 1.2rem;
}

html {
  width: 100vw;
}

.App {
  text-align: center;
}

img {
  height: 30vw;
  width: 30vw;
}